<!DOCTYPE html>
<html lang="en">
<head>

    <title>Login Page - EZt8keOut</title>
</head>

<body>
<%- include('partials/_header') %>


<div class="card text-left">
    <div class="card-header"></div>
    <div class="card-body">
        <h3>Login</h3>

          <form class="form-group" method="POST" action="/logout">
            <button type="submit" class="btn btn-primary">(if logged in) Sign out</button>
          </form>

            <form class="form-group" method="POST" action="/login">
              <input class="form-control" type="text" name="email" placeholder="email" style="width: 300px; margin: 1em" required>
                <input class="form-control" type="password"  placeholder="password" name="password"  style="width: 300px; margin: 1em" required>
                <button type="submit" class="btn btn-primary">Let's order!</button>
            </form>


    </div>
    <div class="card-footer text-muted"></div>
</div>

</body>
</html>
