<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%- include('partials/_header.ejs') %>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <title>EZt8keOut</title>
  </head>
<body>
  <main style="margin: 1em;">
    <h3>Menu 📔</h3>
    <table class="table">

      <div>
      </div>
      <tbody>
        <tr>
          <td>
            <ul>
              <li>
                Burger
              <form method="POST" action="/cart/add">
                <button class="btn btn-outline-success">Add To Cart</button>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

  </main>

</body>
</html>
