<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%- include('partials/_header.ejs') %>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <title>EZt8keOut</title>
  </head>
<body>
  <main style="margin: 1em;">
    <h3>Menu 📔</h3>
    <table class="table table-striped">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Food item</th>
            <th scope="col">Description</th>
            <th scope="col">Cooking Time</th>
            <th scope="col">Photo</th>
            <th scope="col">Price</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Burger</th>
            <td>Delicious Burger</td>
            <td>20 Minutes</td>
            <td>Photo</td>
            <td>$12</td>
            <td>  <form method="POST" action="/cart/add">
              <button class="btn btn-outline-danger">Add To Cart</button> </td>
          </tr>
          <tr>
            <th scope="row">Wrap</th>
            <td>Ceaser Wrap</td>
            <td>12 Minutes</td>
            <td>Photo</td>
            <td>$15</td>
            <td>  <form method="POST" action="/cart/add">
              <button class="btn btn-outline-danger">Add To Cart</button> </td>
          </tr>
          <tr>
            <th scope="row">Fries</th>
            <td>Salted Fries</td>
            <td>5 Minutes</td>
            <td>Photo</td>
            <td>$7 </td>

            <td>  <form method="POST" action="/cart/add">
              <button class="btn btn-outline-danger">Add To Cart</button> </td>

          </tr>
        </tbody>
      </table>



    </table>




  </main>

</body>
</html>
