.body {
background-color: black;

}

.image-box {
  background-color: black;
  z-index: -1;
}

img {
  width: 1900px;
}

.buttons {
  margin-top: -800px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;


}

.title {
  display: flex;
  margin-top: -300px;
  font-size: 3em;
  justify-content: center;
  align-items: flex-start;
  color: #adff2f;
}


